
// VARIABLES
.a-text-blue-3 {
  color: $blue-3;
}
.a-text-blue-4 {
  color:$blue-4;
}
.a-text-blue-5 {
  color: $blue-5;
}
.a-text-blue-6 {
  color:$blue-6;
}
.a-text-blue-7 {
  color: $blue-7;
}
.a-text-blue-8 {
  color:$blue-8;
}
.a-text-blue-9 {
  color:$blue-9;
}
.a-text-blue-11 {
  color: $blue-11;
}
.a-blue-3 {
  background-color: $blue-3;
}
.a-blue-4 {
  background-color:$blue-4;
}
.a-blue-5 {
  background-color: $blue-5;
}
.a-blue-6 {
  background-color:$blue-6;
}
.a-blue-7 {
  background-color: $blue-7;
}
.a-blue-8 {
  background-color:$blue-8;
}
.a-blue-9 {
  background-color:$blue-9;
}
.a-blue-11 {
  background-color: $blue-11;
}
